<div layout="column" class="tree-control" ng-cloak>
    <div class="helper-container">
        <div class="line">
            <md-input-container ng-hide="filterType === 'hidden'" class="md-icon-float md-block">
                <label>Cerca</label>
                <md-icon>search</md-icon>
                <input ng-disabled="filterType === 'disable'" type="text" ng-model="filterKeyword" ng-click="onFilterClicked($event)">
            </md-input-container>
            <md-button ng-if="extraButtons" ng-click="onSelectAll(inputModel,$event)">
                Select All
            </md-button>
            <md-button ng-if="extraButtons" ng-click="onClearAll(inputModel,$event)">
                Clear All
            </md-button>
        </div>
    </div>
    <div class="tree-view">
        <ul class="tree-container">
            <tree-item class="top-level" ng-repeat="item in inputModel" item="item" ng-show="!item.isFiltered " use-callback="useCallback"
                can-select-item="canSelectItem " multi-select="multiSelect" item-selected="itemSelected(item) " on-active-item="onActiveItem(item)"
                select-only-leafs="selectOnlyLeafs" select-not-propagate="selectNotPropagate" expand-callback="expandCallback"
                expand-property="expandProperty">
            </tree-item>
        </ul>
    </div>
</div>